.navbar-toggler {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: linear-gradient(135deg, #0F4C75, #3282B8);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

    .navbar-toggler:checked {
        background: linear-gradient(135deg, #1B262C, #0F4C75);
        border-color: rgba(255, 255, 255, 0.5);
    }

.top-row {
    height: 3.5rem;
    background: linear-gradient(90deg, #1B262C, #0F4C75);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.navbar-brand {
    font-size: 1.1rem;
    color: #BBE1FA;
}

.bi {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
    filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.5));
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item ::deep a {
        color: #BBE1FA;
        font-size: 1rem;
        padding: 0.5rem 1rem;
        border-radius: 8px;
        display: flex;
        align-items: center;
        line-height: 1.5rem;
        transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
    }

        .nav-item ::deep a.active {
            background: linear-gradient(135deg, #3282B8, #0F4C75);
            color: white;
            border: 1px solid #BBE1FA;
            border-radius: 8px;
        }

        .nav-item ::deep a:hover {
            background: linear-gradient(135deg, #0F4C75, #1B262C);
            color: white;
            border: 1px solid #BBE1FA;
            border-radius: 8px;
        }

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .nav-scrollable {
        display: block;
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
        background: linear-gradient(135deg, #0F4C75, #1B262C);
    }
}
